body {
  display:flex;
  flex-direction:column;
  color: #000;
  font-size: 1.5em;
  padding: 1em;
  height: 100%;
  text-align: center;
}

h1 {
  padding: 20px;
}

header {
  background-color: grey;
}

.main {
  height:100vh;
  display:flex;
}

article {
    border-style: double;
    border-radius: 2em;
    background-color: white;
    flex:3;
}
.user {
    position: relative;
    text-align: left;
    padding: 0.5em;
}
.message-content {
    position: relative;
    text-align: left;
    padding: 1em;
    background-color: antiquewhite;
}
.message-input {
    position: absolute;
    bottom: 8px;
    left: 75px;
    font-size: 18px;
}
.message-input .message-input-box {
    width: 370px;
}
nav {
  background-color: pink;
  flex:1
}

aside {
   border-style: double;
    border-radius: 2em;
  text-align: inherit;
  background-color: lightyellow;
  flex:2;
}
 .rooms-list {
   padding: 1em;
   position: relative;
  
  text-align:left;
  flex:1;
}
.btn-logout {
    position: absolute;
    bottom: 8px;
    left: auto;
    font-size: 18px;
}
footer {
  background-color: #e1dcdd;
}
